.custom-card {
    width: 500px;
    height: auto; /* Adjust width as needed */
  }
  
  .card-content {
    display: flex;
    justify-content: space-between;
  }
  
  .card-image {
    width: 150px; /* Adjust width as needed */
    height: auto;
  }
  