<mat-card *ngFor="let card of cards" [routerLink]="['/', card.title]" class="custom-card">
    <mat-card-content>
      <div class="card-content">
        <div>
          <mat-card-header>
            <mat-card-title>{{ card.title }}</mat-card-title>
            <mat-card-subtitle>{{ card.content }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{ card.content }}
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Action 1</button>
            <button mat-button>Action 2</button>
          </mat-card-actions>
        </div>
        <div>
          <img src="" alt="Image" class="card-image">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  