.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  mat-card {
    cursor: pointer;
    margin-bottom: 16px;
  }
  